h1 {
  font-family: 'Amatic SC', cursive;
  font-size: large;
  text-align:center;
}

h3 {
  text-align: center;
  font-size: medium;
  font-family: 'Amatic SC', cursive;
}


h5 {
  font-size: medium;
}

.buttons{
  text-align: center;
}

#pizza-form-submit{
  background-color: black;
  color: white;
}
